---
import { Package2 } from 'lucide-vue-next'
import Notifications from '@/components/Notifications.vue'
import UserMenu from '@/components/UserMenu.vue'
import Search from '@/components/Search.vue'
import SidebarMenu from '@/components/sidebar/Menu.vue'
import SidebarMenuMobile from '@/components/sidebar/MobileMenu.vue'
import type { Project } from '@/db/schema'

interface Props {
  heading: string
  initialProjects?: Project[]
}

const { heading, initialProjects } = Astro.props
const { url } = Astro.request
const currentPath = new URL(url).pathname
---

<div
  class="grid min-h-screen w-full md:grid-cols-[220px_1fr] lg:grid-cols-[280px_1fr]"
>
  <div class="hidden border-r bg-muted/40 md:block">
    <div class="flex h-full max-h-screen flex-col gap-2">
      <div class="flex h-14 items-center border-b px-4 lg:h-[60px] lg:px-6">
        <a href="/" class="flex items-center gap-2 font-semibold">
          <Package2 class="h-6 w-6" />
          <span class="sr-only">Go to Dashboard</span>
          <span aria-hidden="true">quadranto.cloud</span>
        </a>
        <Notifications />
      </div>
      <div class="flex-1">
        <SidebarMenu
          activePath={currentPath}
          initialProjects={initialProjects}
        />
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <header
      class="flex h-14 items-center gap-4 border-b bg-muted/40 px-4 lg:h-[60px] lg:px-6"
    >
      <SidebarMenuMobile
        client:load
        activePath={currentPath}
        initialProjects={initialProjects}
      />
      <div class="w-full flex-1">
        <Search />
      </div>
      <UserMenu client:load />
    </header>
    <main class="flex flex-1 flex-col gap-4 p-4 lg:gap-6 lg:p-6">
      <div>
        <h1 class="text-lg font-semibold md:text-2xl">{heading}</h1>
        <slot name="after-heading" />
      </div>
      <slot />
    </main>
  </div>
</div>
